.timer-container {
  display: flex;
  
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.timer-container > .time-runner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 100%;
  margin-right: 5px;
  min-height: 500px;
  width: 25%;
}

.timer-container > .time-runner > .counter {
  border: 2px solid #e0e0e0;
  border-radius: 5%;
  margin-bottom: 50px;
  padding: 20% 15%;
}

.timer-container > .time-runner > button {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 50%;
}

.start { background-color: green; }

.stop { background-color: red; }

.reset { background-color: orange; }

.timer-container > .time-table {
  display: flex;
  align-items: center;
  flex-direction: column;

  border: 1px solid #e0e0e0;
  border-radius: 5px;
  min-height: 100vh;
  overflow: auto;
  padding: 10px;
  width: 70%;
}

.timer-container > .time-table > .time-row {
  display: flex;

  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 5px;
  width: 100%;
}

.timer-container > .time-table > .time-row > .time-column {
  padding: 10px;
  width: 30%;
}
