.Timer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  min-height: 100vh;
}

.Timer > .time-runner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-right: 5px;
  min-height: 500px;
}

.Timer > .time-runner > .counter {
  border: 2px solid #e0e0e0;
  border-radius: 5%;
  padding: 20% 15%;
  margin-bottom: 50px;
}

.Timer > .time-runner > button {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  color: white;
}

.start {
  background-color: green;
}

.stop {
  background-color: red;
}

.reset {
  background-color: orange;
}

.Timer > .time-table {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  min-height: 100vh;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.Timer > .time-table > .time-row {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 5px;
  /* padding: 10px; */
}

.Timer > .time-table > .time-row > .time-column {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 30%;
  padding: 10px;
}

/* .Form > form {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  width: 30%;
  padding: 30px;
  border-radius: 5px;
}

.Form > form > input {
  margin: 20px 0;
  min-height: 30px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
}

.submit-btn {
  width: 20% !important;
  background-color: cornflowerblue;
  color: white;
  padding: 14px 7px !important;
  font-size: 14px;
  cursor: pointer;
} */

